In [173]:
import pandas as pd
import numpy as np
columns = []
tableData = []

In [174]:
student_registration = pd.read_csv("data/studentRegistration.csv")

In [175]:
student_registration.head(5)

,code_module,code_presentation,id_student,date_registration,date_unregistration
0,AAA,2013J,11391,-159.0,NaN
1,AAA,2013J,28400,-53.0,NaN
2,AAA,2013J,30268,-92.0,12.0
3,AAA,2013J,31604,-52.0,NaN
4,AAA,2013J,32885,-176.0,NaN

In [176]:
studentRegistration = student_registration[(student_registration.code_module == 'AAA') & (student_registration.code_presentation == '2013J')]
studentIdColumn = 'id_student'
studentId = studentRegistration[[studentIdColumn]]
columns = [studentIdColumn]
tableData=studentId
tableData.head(5)

   id_student
0       11391
1       28400
2       30268
3       31604
4       32885

In [177]:
tableData.count()

id_student    383
dtype: int64

In [178]:
assesments = pd.read_csv("data/assessments.csv")
assesments = assesments[(assesments.code_module == 'AAA') & (assesments.code_presentation == '2013J')]
assesmentIdColumn = 'id_assessment'
assesmentIds = assesments[assesmentIdColumn]
assesmentIds

0    1752
1    1753
2    1754
3    1755
4    1756
5    1757
Name: id_assessment, dtype: int64

In [179]:
for i in range(len(assesmentIds)): 
    columns.append(assesmentIds[i])

In [180]:
featureTable = pd.DataFrame(data =tableData, columns = columns)
featureTable

     id_student  1752  1753  1754  1755  1756  1757
0         11391   NaN   NaN   NaN   NaN   NaN   NaN
1         28400   NaN   NaN   NaN   NaN   NaN   NaN
2         30268   NaN   NaN   NaN   NaN   NaN   NaN
3         31604   NaN   NaN   NaN   NaN   NaN   NaN
4         32885   NaN   NaN   NaN   NaN   NaN   NaN
5         38053   NaN   NaN   NaN   NaN   NaN   NaN
6         45462   NaN   NaN   NaN   NaN   NaN   NaN
7         45642   NaN   NaN   NaN   NaN   NaN   NaN
8         52130   NaN   NaN   NaN   NaN   NaN   NaN
9         53025   NaN   NaN   NaN   NaN   NaN   NaN
10        57506   NaN   NaN   NaN   NaN   NaN   NaN
11        58873   NaN   NaN   NaN   NaN   NaN   NaN
12        59185   NaN   NaN   NaN   NaN   NaN   NaN
13        62155   NaN   NaN   NaN   NaN   NaN   NaN
14        63400   NaN   NaN   NaN   NaN   NaN   NaN
15        65002   NaN   NaN   NaN   NaN   NaN   NaN
16        70464   NaN   NaN   NaN   NaN   NaN   NaN
17        71361   NaN   NaN   NaN   NaN   NaN   NaN
18        74372   NaN   NaN   NaN   NaN   NaN   NaN
19        75091   NaN   NaN   NaN   NaN   NaN   NaN
20        77367   NaN   NaN   NaN   NaN   NaN   NaN
21        91265   NaN   NaN   NaN   NaN   NaN   NaN
22        94961   NaN   NaN   NaN   NaN   NaN   NaN
23        98094   NaN   NaN   NaN   NaN   NaN   NaN
24       100893   NaN   NaN   NaN   NaN   NaN   NaN
25       101781   NaN   NaN   NaN   NaN   NaN   NaN
26       102806   NaN   NaN   NaN   NaN   NaN   NaN
27       102952   NaN   NaN   NaN   NaN   NaN   NaN
28       104476   NaN   NaN   NaN   NaN   NaN   NaN
29       106247   NaN   NaN   NaN   NaN   NaN   NaN
..          ...   ...   ...   ...   ...   ...   ...
353     2586560   NaN   NaN   NaN   NaN   NaN   NaN
354     2594139   NaN   NaN   NaN   NaN   NaN   NaN
355     2598871   NaN   NaN   NaN   NaN   NaN   NaN
356     2599352   NaN   NaN   NaN   NaN   NaN   NaN
357     2600688   NaN   NaN   NaN   NaN   NaN   NaN
358     2606098   NaN   NaN   NaN   NaN   NaN   NaN
359     2613116   NaN   NaN   NaN   NaN   NaN   NaN
360     2617002   NaN   NaN   NaN   NaN   NaN   NaN
361     2620584   NaN   NaN   NaN   NaN   NaN   NaN
362     2639449   NaN   NaN   NaN   NaN   NaN   NaN
363     2639540   NaN   NaN   NaN   NaN   NaN   NaN
364     2639641   NaN   NaN   NaN   NaN   NaN   NaN
365     2641155   NaN   NaN   NaN   NaN   NaN   NaN
366     2643002   NaN   NaN   NaN   NaN   NaN   NaN
367     2645733   NaN   NaN   NaN   NaN   NaN   NaN
368     2649826   NaN   NaN   NaN   NaN   NaN   NaN
369     2650282   NaN   NaN   NaN   NaN   NaN   NaN
370     2664024   NaN   NaN   NaN   NaN   NaN   NaN
371     2666246   NaN   NaN   NaN   NaN   NaN   NaN
372     2669816   NaN   NaN   NaN   NaN   NaN   NaN
373     2671132   NaN   NaN   NaN   NaN   NaN   NaN
374     2676809   NaN   NaN   NaN   NaN   NaN   NaN
375     2678643   NaN   NaN   NaN   NaN   NaN   NaN
376     2685865   NaN   NaN   NaN   NaN   NaN   NaN
377     2688067   NaN   NaN   NaN   NaN   NaN   NaN
378     2689958   NaN   NaN   NaN   NaN   NaN   NaN
379     2691206   NaN   NaN   NaN   NaN   NaN   NaN
380     2691244   NaN   NaN   NaN   NaN   NaN   NaN
381     2694424   NaN   NaN   NaN   NaN   NaN   NaN
382     2698257   NaN   NaN   NaN   NaN   NaN   NaN

[383 rows x 7 columns]