In [1]:
import pandas as pd

In [2]:
student_registration = pd.read_csv("data/studentRegistration.csv")

In [3]:
student_registration.head(5)

,code_module,code_presentation,id_student,date_registration,date_unregistration
0,AAA,2013J,11391,-159.0,NaN
1,AAA,2013J,28400,-53.0,NaN
2,AAA,2013J,30268,-92.0,12.0
3,AAA,2013J,31604,-52.0,NaN
4,AAA,2013J,32885,-176.0,NaN

In [16]:
studentId = student_registration[(student_registration.code_module == 'AAA') & (student_registration.code_presentation == '2013J')]
studentId = studentId['id_student']
studentId.head(5)

0    11391
1    28400
2    30268
3    31604
4    32885
Name: id_student, dtype: int64

In [17]:
studentId.count()

383

In [25]:
assesments = pd.read_csv("data/assessments.csv")
assesments = assesments[(assesments.code_module == 'AAA') & (assesments.code_presentation == '2013J')]
assesmentIds = assesments['id_assessment']
assesmentIds

0    1752
1    1753
2    1754
3    1755
4    1756
5    1757
Name: id_assessment, dtype: int64

In [42]:
data = []
for i in range(len(assesmentIds)):
    assesmentId = assesmentIds[i]
    data.append({
         i: assesmentId
    })
data

[{0: 1752}, {1: 1753}, {2: 1754}, {3: 1755}, {4: 1756}, {5: 1757}]